
 
<div class="create-container admin_main">
    <div class="container ">
      <div class="title_block">
      <h5 class="center  red-text text-darken-2"> ERROR PAGE</h5>
      
      </div>
 <div class="  paper_container z-depth-1">
     
  <script>
    document.write('<a class="sidenav-trigger btn-floating pulse cyan" href="' + document.referrer + '"> <i class="material-icons">arrow_back</i></a>');
</script>
  
      <table class="centered responsive-table right highlight " >
              
                <h4 class="center">{{{message}}}</h4>
                <img src="https://storyset.com/images/404/1.svg" alt="">
         </table> 
         
         
  <!-- Modal Trigger -->

 {{>footer_admin}}
 </div>
       
    </div>
  </div>
