<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <p class="footer-title">Shop</p>
        <ul>
          <li><a class="" href="#!">Mask</a></li>
          <li><a class="" href="#!">Handwash</a></li>
          <li><a class="" href="#!">Automation</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <p class="footer-title">Articles</p>
        <ul>
          <li><a class="" href="#!">Latest Articles</a></li>
          <li><a class="" href="#!">Coronavirus</a></li>
          <li><a class="" href="#!">Vaccine</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <p class="footer-title">Accounts</p>
        <ul>
          <li><a class="" href="#!">Account Settings</a></li>
          <li><a class="" href="#!">Report</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <p class="footer-title">About Medicale</p>
        <ul>
          <li><a class="" href="#!">Our Team</a></li>
          <li><a class="" href="#!">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© 2021 Copyright by student-DTU</div>
  </div>
</footer>