<header>
  <aside class='w-64' aria-label='Sidebar'>
    <div class='overflow-y-auto py-4 px-3 bg-gray-50 rounded h-full'>
      <a href='/admin' class='flex items-center pl-2.5 mb-5'>
        <svg
          class='w-6 h-6'
          fill='none'
          stroke='currentColor'
          viewBox='0 0 24 24'
          xmlns='http://www.w3.org/2000/svg'
        ><path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z'
          ></path></svg>
        <span class='self-center text-xl font-semibold whitespace-nowrap'>MedicalS</span>
      </a>
      <ul class='admin__aside__list space-y-2'>
        <li>
          <a
            href='/admin'
            class='admin__aside__link flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100'
          >
            <svg
              class='w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900'
              fill='currentColor'
              viewBox='0 0 20 20'
              xmlns='http://www.w3.org/2000/svg'
            ><path d='M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z'></path><path
                d='M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z'
              ></path></svg>
            <span class='ml-3'>Dashboard</span>
          </a>
        </li>

        <li>
          <a
            href='/admin/account?Page=1'
            class='admin__aside__link flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100'
          >
            <svg
              class='flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900'
              fill='currentColor'
              viewBox='0 0 20 20'
              xmlns='http://www.w3.org/2000/svg'
            ><path
                fill-rule='evenodd'
                d='M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z'
                clip-rule='evenodd'
              ></path></svg>
            <span class='flex-1 ml-3 whitespace-nowrap'>Tài khoản</span>
          </a>
        </li>
        <li>
          <a
            href='/admin/clinic?Page=1'
            class='flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100'
          >
            <svg class='flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900'
              fill='currentColor'
              viewBox='0 0 20 20'
              xmlns='http://www.w3.org/2000/svg'>
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" /></svg>
            <span class='flex-1 ml-3 whitespace-nowrap'>Khoa</span>
          </a>
        </li>

        <li>
          <a
            href='/auth/logout'
            class='admin__aside__link flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100'
          >
            <svg
              class='flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900'
              fill='currentColor'
              viewBox='0 0 20 20'
              xmlns='http://www.w3.org/2000/svg'
            ><path
                fill-rule='evenodd'
                d='M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z'
                clip-rule='evenodd'
              ></path></svg>
            <span class='flex-1 ml-3 whitespace-nowrap'>Đăng xuất</span>
          </a>
        </li>

      </ul>
    </div>
  </aside>
</header>

<script>
  $(document).ready(function(){ var path = window.location.href
  $(`.admin__aside__link`).each(function(){ if (this.href === path) {
  $(this).parent('li').addClass('bg-gray-300') } else {
  $(this).parent('li').removeClass('bg-gray-300') } }) })
</script>