<ul class="collection with-header">
              <li class="collection-item"><div>Tài Khoản Cá Nhân<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Lịch Sử Làm Việc<a href="/doctor/workHistory" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Hồ Sơ<a href="/doctor/resume" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Đăng Xuất<a href="/auth/logout" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      
      </ul>