<aside id="sidenav-open">
  <nav>
    <div>
      <img
        class="personal-avatar"
        src="../uploads/{{avatar}}"
        alt=""
        width="250px"
      />
    </div>
    <div class="personal-name">
      <a href="/profile">@{{username}}</a>
    </div>
    <div class="row">
      <a class="btn btn-active" href="/profile/editPage">Edit Profile</a>
    </div>
    <div class="row">
      {{! <span> 1 Post </span>
      -
      <span> 2 Followers </span>
      -
      <span>2 Following</span> }}
    </div>
    <div class="row" style="font-size: 12px; color: var(--secondary-color);">
      &copy; Copyright by Team 1 DTU
    </div>
  </nav>
</aside>